body {
  overflow-y: scroll;
   box-sizing:border-box ;
   margin-top: 0px;
  
}
.canvas {
  background: url(http://findmatthew.com/style/../img/filler.png) center center /
    cover;
  height: 100%;
  left: 0;
  position: absolute;
  background-attachment: fixed;
  top: 0;
  width: 100vw;
  box-sizing: border-box;
}
.Head-typing {
  z-index: 1;
  text-align: left;
  color: white;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "width" 100;
  justify-content: center;
  position: absolute;
  
  top: 50%;
  left: 45%;
  margin-left: -70px;
  margin-top: -50px;
}
.Head{
  margin: 0px;
    white-space: nowrap;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    animation: typing 3s steps(22, end) forwards, blink 2s infinite;
}
.Github-img img{
  
  width: 50px;
  height: 50px;
  left: 10%;
  margin-top: 50px;
  
  
}
.Github-img {
position: absolute;
  width: 600px;
  height: 100px;
  display: inline-flexbox;
  left: 10%;
}
span.git-link{
  position: absolute;
  text-align: center;
  align-items: center;
  padding-left: 7px;
  margin-top: 60px;
}
#Insta-icon{
 
  width: 500px;
  height: 60px;
  float: left;
  margin-top: 150px;

}
.insta-link{
  position: absolute;
  text-align: center;
  align-items: center;
  left: 48%;
  margin-top: 155px;
}
.insta{
  position: absolute;
  width: 600px;
  height: 100px;
  display: inline-flexbox;
  left: -3%;
}
.Linked-in{
  position: absolute;
  width: 600px;
  height: 100px;
  display: inline-flexbox;
  left: 10%;
  margin-top: 250px;
}

.Email{
  position: absolute;
  width: 700px;
  height: 100px;
  display: inline-flexbox;
  left: 70%;
  
  margin-top: 60px;
}
#gmail-icon{
  
  height: 50px;
  padding-right: 9px;
}
@keyframes typing {
  0% {
    width: 0%;
  }
  /* 50%{
    width: 50%;
} */
  100% {
    width: 100%;
    left: 50%;
  }
}
@keyframes blink {
  0%,
  100% {
    border-right: 4px solid transparent;
  }

  50% {
    border-right: 4px solid #ffffff;
  }
}
.next-btn {
  width: 200px;
  height: 70px;
  font-size: 12pt;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "width" 100;
}
button.next-btn {
  border-radius: 20px;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: rgba(24, 100, 171, 0.1);
}
.next-btn:hover {
  color: #ffffff;
  background-color: rgba(20, 32, 44, 0.137);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
.Next-Page-btn {
  z-index: 1;

  position: absolute;
  top: 70%;
  left: 44%;
}

.Intro{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "width" 100;
  margin-top: 200px;
  text-align: center;
  
}
button.Skills{
  margin-top: 70px;
  align-items: center;
  position: absolute;
  left: 43%;
  width: 200px;
  height: 70px;
  font-size: 12pt;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "width" 100;
  border-radius: 15px;
  color: #000000;
  border: 2px solid #000000;
  background-color: rgba(24, 100, 171, 0.1);
}
button.Skills:hover{
  background-color: rgba(71, 141, 206, 0.137);
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}
section.About-section{
  overflow-y: auto;
  background: #ffffff;
  margin-top: 0px;
}
nav{
  border-bottom: 4px solid rgb(120, 199, 225);
  
}
.All-Skills{
  box-sizing: border-box;
  display: flex;
}

.Html-img{
  margin-top: 100px;
height: 200px;
width: 200px;
position: absolute;
left: 13%;

}
#Html-descrip{
  float: left;
  position: absolute;
  margin-top: 370px;
  font-weight: 400;
  left: 11%;
  right: 70%;
}
#Css-descrip{
  float: left;
  position: absolute;
  margin-top: 370px;
  font-weight: 400;
  left: 44%;
  right: 37%;
  align-items: center;
  text-align: center;
}
.css-img{
  height: 200px;
  width: 170px;
  margin-top: 100px;
  align-items: center;
  position: absolute;
  left: 47%;

}

.js-div{
float: right;

}
.js-img{
  float: inline-end;
  position: absolute;
left: 78%;
  height: 200px;
  width: 200px;
  margin-top: 100px;
}
#js-descrip{
  
  position: absolute;
  margin-top: 370px;
  font-weight: 400;
  left: 78%;
  right: 8%;
  align-items: center;
  text-align: center;
}
#project-sec{
  padding-top: 150px;
  background-color: #8899A6;
border-color: rgb(39, 38, 38); ;
  border-bottom-left-radius: 50% 200px;
  border-bottom-right-radius: 100% 1000px;
  width: 170%;
  overflow: hidden;
  margin-bottom: 20px;
  left:-30%;
}
#table-1{
margin-left: 50px;
left: 50%;

}
.tr-1{
  align-items: center;
  width: 400px;
  
}
#Project-head{
 position: absolute;
 left: calc(50% - 30px);
 text-align: center;
 z-index: 1;

  margin-top: -70px;
  text-decoration: underline;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 1000;
  font-style: normal;
  font-variation-settings: "width" 200;
}
.contact-head{margin-top: 20px;
  text-align: center;
  text-decoration: underline;
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "width" 100;

}
.Contacts{
 background-color: white;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 12pt;
    overflow-x: hidden;
  }
  .canvas {
    width: max-content;
  }
  nav{
    width: 100%;
  }
  div.container{
    width: 100%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 15pt;
    overflow-x: hidden;
  }
  .canvas {
    width: max-content;
  }
  nav{
    width: 100%;
  }
  div.container{
    width: 100%;
  }
  
}

@media only screen and (min-width: 1025px) {
  body {
    font-size: 30pt;
    overflow-x: hidden;
  }
 
}
